@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
     --foreground-rgb: 0, 0, 0;
     --background-start-rgb: 214, 219, 220;
     --background-end-rgb: 255, 255, 255;
}
p,
span {
     color: #585858;
}
h1,
h2 {
     font-size: 54px;
     font-weight: 900;
}
@media only screen and (max-width: 768px) {
     h2,
     h1 {
          font-size: 40px;
          font-weight: 900;
     }
}
